{% extends "base.html" %}
{% block title %}Login PAGE OJ{% endblock title %}
{% block body %}

    <br>
    <form action="{% url 'signin' %}" method="post">
        {% csrf_token %}
        <input type="text" name="email" placeholder="email"><br><br>
        <input type="password" name="password" placeholder="password"><br><br>
        <input type="submit">

    </form>
    <div>
        {% for message in messages %}
        <h3>{{ message }}</h3>
        {% endfor %}
    </div>
{% endblock body %}
